<!-- jQuery (global vendor js scripts all pages)  -->
<script src="{{{cdn}}}/dist/js/vendor.min.js"></script>

<!-- Dashboard page imports (page specific) -->
<script src="{{{cdn}}}/dist/pages/dashboard/js/dashboard.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="{{{cdn}}}/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="{{{cdn}}}/plugins/jquery-knob/jquery.knob.js"></script>

<!-- App js (Idk what this is for lol) -->
<script src="{{{cdn}}}/dist/js/app.min.js"></script>
