<div class="left side-menu">

    <div class="slimscroll-menu" id="remove-scroll">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="/" class="logo">
                <span>
                    <img src="/images/logo.png" alt="" height="22">
                </span>
                <i>
                    <img src="/images/logo_sm.png" alt="" height="28">
                </i>
            </a>
        </div>

        <!-- User box -->
        <div class="user-box">
            <div class="user-img">
                <img src="/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
            </div>
            <h5><a href="#">Maxine Kennedy</a> </h5>
            <p class="text-muted">Admin Head</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <!--<li class="menu-title">Navigation</li>-->

                <li>
                    <a href="/">
                        <i class="fi-air-play"></i><span class="badge badge-danger badge-pill pull-right">7</span> <span> Home </span>
                    </a>
                </li>

                <li>
                    <a href="/posts">
                        <i class="fi-air-play"></i><span> Posts </span>
                    </a>
                </li>

                <li>
                    <a href="/addroom">
                        <i class="fi-air-play"></i><span> Add Room </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);"><i class="fi-layers"></i> <span> Subscribed Rooms </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        {{#rooms}}
                        <li><a href="/room/{{slug}}">{{category}}</a></li>
                        {{/rooms}}
                    </ul>
                </li>

            </ul>

        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
