<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Edit Topic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{{{cdn}}}/images/favicon.ico">

        <!-- App css -->
        <link href="{{{cdn}}}/dist/css/vendor.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ll1vk6hy7tewcuwcq3xonv15y4uwsp1yd7x7x646mre2jx8p"></script>
        <script>
          tinymce.init({
            selector: '#topic-description',
            theme: 'modern',
            plugins: 'preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help',
            toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
            image_advtab: true,
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css'
            ]
          });
        </script>
        <script src="{{{cdn}}}/js/modernizr.min.js"></script>

    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            {{>left_navbar}}
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- Top Bar Start -->
                {{>topbar}}
                <!-- Top Bar End -->



                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                      <div class="row">
                          <div class="col-12">
                              <div class="card-box">
                                <h4 class="m-t-0 header-title">Editing {{{topic.title}}}</h4>
                                  <p class="text-muted m-b-30 font-14">
                                      What would you like to edit?
                                  </p>

                                  <div class="row">
                                      <div class="col-12">
                                          <div class="p-20">
                                              <form id="edittopic-form" class="form-horizontal" role="form">
                                                  <div class="form-group row">
                                                      <label class="col-2 col-form-label" for="example-email">Topic Description</label>
                                                      <div class="col-10">
                                                          <textarea type="text" id="topic-description" class="form-control" placeholder="Enter the Topic Description" rows=5>{{{topic.description}}}</textarea>
                                                      </div>
                                                  </div>
                                                  <div class="form-group row">
                                                      <div class="col-10 offset-2">
                                                          <button type="submit" class="btn btn-info waves-effect waves-light">Submit Edit</button>
                                                      </div>
                                                  </div>

                                                  <input type="hidden" id="topic-room" value="{{topicSlug}}" />
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    {{>footer}}
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- modals -->
        {{>modal_login}}

        <!-- jQuery (global vendor js scripts all pages)  -->
        <script src="{{{cdn}}}/dist/js/vendor.min.js"></script>

        <!-- App js (Idk what this is for lol) -->
        <script src="{{{cdn}}}/dist/js/app.min.js"></script>

        <!-- global customs -->
        <script src="{{{cdn}}}/dist/js/global-custom.min.js"></script>

        <script type="text/javascript">
        (function(){
          $( "#edittopic-form" ).submit(function( event ) {
            event.preventDefault();

            tinyMCE.triggerSave();

            // grab form values
            var topicData = {
              description: $( "#topic-description" ).val(),
              topicSlug: $( "#topic-room" ).val()
            }

            if (topicData.description.length == 0) {
              alert('error', "Uhhh k");
              return;
            }

            alert('Loading', '');

            //now send ajax request
            $.ajax({
              url: '/api/topic/update',
              type: 'POST',
              data: topicData,
              success: function(data, textStatus, jqXHR) {
                if(data.confirmation != 'success') {
                  alert('error', data.data);
                } else {
                  alert('success', `Topic was succesfully edited.`);
                  redirect('/posts', 1000)
                }

              },
              error: function(jqHXR, textStatus, err) {
                alert('error', err);
              }
            })

          });
        })()
        </script>

        <!-- check logged in (for chat) -->
        {{#user}}
          {{>chat}}
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
          <script src="{{{cdn}}}/js/chat.js"></script>
        {{/user}}

    </body>
</html>
