<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Highdmin - Responsive Bootstrap 4 Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{{{cdn}}}/images/favicon.ico">

        <!-- App css -->
        <link href="{{{cdn}}}/dist/css/vendor.min.css" rel="stylesheet" type="text/css" />

        <script src="{{{cdn}}}/js/modernizr.min.js"></script>

    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            {{>left_navbar}}
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- Top Bar Start -->
                {{>topbar}}
                <!-- Top Bar End -->



                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                      <div class="row">
                          <div class="col-sm-8">
                              <div class="row">
                                  <div class="col-12">
                                      <div class="card-box">
                                          <p class="text-muted mb-0">Posted by <a class="underline no-color-change" href="/user/{{topic.user.username}}">{{topic.user.username}}</a> | {{topic.timestamp}}</p>
                                          <h4 class="">{{topic.title}}</h4>
                                          <p class="pre">{{topic.description}}</p>

                                          <p class="text-muted tickets-list"><i class="mdi mdi-comment"></i> {{topic.numReplies}}</p>

                                          <div class="mt-3">
                                              <!-- If logged in -->
                                              {{#user}}
                                              <form id="comment-form" class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="comment">Posting a comment as {{user.username}}</label>
                                                    <textarea class="form-control" id="comment" aria-describedby="comment" placeholder="What are your thoughts?" rows="6"></textarea>
                                                </div>

                                                <div class="form-group row mb-0">
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-info waves-effect waves-light">Comment</button>
                                                    </div>
                                                </div>

                                                <input type="hidden" id="topic-slug" value="{{topic.slug}}" />
                                              </form>
                                              {{/user}}

                                              <!-- If not logged in -->
                                              {{^user}}
                                              <p class="mb-0">You must be logged in to comment!</p>
                                              {{/user}}
                                          </div>
                                      </div>
                                  </div><!-- end col -->
                              </div>
                              <!-- end row -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="card-box">
                                        <h4 class="header-title">Comments</h4>
                                        <hr class="m-0" />

                                        <div>

                                            {{#replys}}
                                            <div class="media">
                                                <div class="media-body">
                                                    <p class="text-muted mb-0">
                                                      <a class="underline no-color-change" href="/user/{{user.username}}">{{user.username}}</a>
                                                      | {{timestamp}}
                                                    </p>
                                                    <!-- <a href="" class="text-dark">@Michael</a> -->
                                                    <p class="pre text-dark mb-0">{{comment}}</p>
                                                    <a href="javascript:void(0)" data-id="{{id}}" data-commentId="{{id}}" class="text-success reply">Reply</a>
                                                </div>
                                            </div>
                                            <div class="replybox">
                                            </div>
                                                {{#replys}}
                                                <div class="media ml-4">
                                                    <div class="media-body">
                                                        <p class="text-muted mb-0">
                                                          <a class="underline no-color-change" href="/user/{{user.username}}">{{user.username}}</a>
                                                          | {{timestamp}}
                                                        </p>
                                                        <a href="/user/{{to.username}}" class="text-primary">@{{to.username}}</a>
                                                        <p class="pre text-dark mb-0">{{comment}}</p>
                                                        <a href="javascript:void(0)" data-id="{{id}}" data-commentId="{{to.replyId}}" class="text-success reply">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="ml-4 replybox">
                                                </div>
                                                {{/replys}}
                                            {{/replys}}

                                        </div>

                                    </div>
                                </div><!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end col -->

                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-box">
                                        <h3 class="header-title">Room: {{roomDetails.name}}</h3>
                                        <p class="text-muted">{{roomDetails.description}}</p>
                                        <p class="text-muted">{{roomDetails.subscribers}} subscribers</p>
                                        <a href="/room/{{roomDetails.slug}}/" class="btn btn-block btn-sm btn-primary waves-effect waves-light">Visit Room Homepage</a>
                                        <a href="/room/{{roomDetails.slug}}/addtopic/" class="btn btn-block btn-sm btn-primary waves-effect waves-light">Add a new topic</a>
                                        <a href="javascript:subscribe()" class="btn btn-block btn-sm btn-primary waves-effect waves-light">Subscribe</a>
                                    </div>
                                </div><!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>

                      </div>
                      <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    {{>footer}}
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- modals -->
        {{>modal_login}}

        <!-- jQuery  -->
        <script src="{{{cdn}}}/dist/js/vendor.min.js"></script>

        <script src="{{{cdn}}}/dist/pages/home/js/home.min.js"></script>

        <!-- App js (Idk what this is for lol) -->
        <script src="{{{cdn}}}/dist/js/app.min.js"></script>

        <!-- global customs -->
        <script src="{{{cdn}}}/dist/js/global-custom.min.js"></script>

        <script type="text/javascript">
        (function(){
          $( "#comment-form" ).submit(function( event ) {
            event.preventDefault();



            // grab form values
            var commentData = {
              comment: $( "#comment" ).val(),
              topicSlug: $( "#topic-slug" ).val()
            }

            if (commentData.comment.length == 0) {
              alert('error', "Please enter the topic name");
              return;
            }

            $( "#comment" ).val(""); // reset comment field
            alert('Loading', "");

            //now send ajax request
            $.ajax({
              url: '/api/reply',
              type: 'POST',
              data: commentData,
              success: function(data, textStatus, jqXHR) {
                if(data.confirmation != 'success') {
                  alert('error', data.data);
                } else {
                  alert('success', `Comment: '${commentData.comment}' was succesfully posted.`);
                  redirect(window.location.pathname, 1000)
                }

              },
              error: function(jqHXR, textStatus, err) {
                alert('error', err);
              }
            })
          });

          $('.reply').on('click', function(event){
            console.log($(this).closest('.media'))
            $('.replybox').empty(); // clear all other reply comment boxes

            if({{#user}}true{{/user}}{{^user}}false{{/user}}) {
                $(this).closest('.media').next('.replybox').html(`
                <form id="reply-form" class="form-horizontal" role="form">
                  <div class="form-group">
                      <label for="reply">Posting a comment as {{user.username}}</label>
                      <textarea class="form-control" id="reply" aria-describedby="reply placeholder="What are your thoughts?" rows="6"></textarea>
                  </div>

                  <div class="form-group row mb-0">
                      <div class="col-12">
                          <button type="submit" class="btn btn-info waves-effect waves-light">Reply</button>
                      </div>
                  </div>

                  <input type="hidden" id="reply-topic-slug" value="{{topic.slug}}" />
                  <input type="hidden" id="reply-to-id" value="${$(this).attr("data-id")}" />
                  <input type="hidden" id="comment-to-id" value="${$(this).attr("data-commentId")}" />
                </form>`);

                // for replys to comments
                $( "#reply-form" ).submit(function( event ) {
                  event.preventDefault();

                  // grab form values
                  var replyData = {
                    comment: $( "#reply" ).val(),
                    topicSlug: $( "#reply-topic-slug" ).val(),
                    to: {
                      replyId: $( "#reply-to-id" ).val(),
                      commentId: $( "#comment-to-id" ).val()
                    }
                  }

                  if (replyData.comment.length == 0) {
                    alert('error', "Please enter a comment");
                    return;
                  }

                  $( "#reply" ).val(""); // reset comment field
                  alert('Loading', "");

                  //now send ajax request
                  $.ajax({
                    url: '/api/reply/second-level',
                    type: 'POST',
                    data: replyData,
                    success: function(data, textStatus, jqXHR) {
                      if(data.confirmation != 'success') {
                        alert('error', data.data);
                      } else {
                        alert('success', `Reply: '${replyData.comment}' was succesfully posted.`);

                        redirect(window.location.pathname, 1000)
                      }

                    },
                    error: function(jqHXR, textStatus, err) {
                      alert('error', err);
                    }
                  })
                });
              } else {
                $(this).closest('.media').next('.replybox').html(`<p class="mb-0">You must be logged in to comment!</p>`);
              }
          });
        })()

        // send an ajax request to subscribe
        function subscribe() {
          $.ajax({
            url: '/room/{{roomDetails.slug}}/subscribe',
            type: 'POST',
            data: {},
            success: function(data, textStatus, jqXHR) {
              if(data.confirmation != 'success') {
                alert('error', data.data);
              } else {
                alert('success', data.data);

                redirect(window.location.pathname, 1000)
              }

            },
            error: function(jqHXR, textStatus, err) {
              alert('error', err);
            }
          })
        }
        </script>

    </body>
</html>
