<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Highdmin - Responsive Bootstrap 4 Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{{{cdn}}}/images/favicon.ico">

        <!-- App css -->
        <link href="{{{cdn}}}/dist/css/vendor.min.css" rel="stylesheet" type="text/css" />

        <script src="/js/modernizr.min.js"></script>

    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            {{>left_navbar}}
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- Top Bar Start -->
                {{>topbar}}
                <!-- Top Bar End -->



                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h2 class="header-title mb-0"><a class="underline no-color-change" href="/room/{{topic.room.slug}}">{{topic.room.name}}</a></h2>
                                    <p class="text-muted mb-0">Posted by <a class="underline no-color-change" href="/user/{{topic.user.username}}">{{topic.user.username}}</a> | {{topic.timestamp}}</p>
                                    <h4 class="">{{topic.title}}</h4>
                                    <p class="pre">{{topic.description}}</p>

                                    <div class="mt-5">
                                        <!-- If logged in -->
                                        {{#user}}
                                        <form id="comment-form" class="form-horizontal" role="form">
                                          <div class="form-group">
                                              <label for="comment">Posting a comment as {{user.username}}</label>
                                              <textarea class="form-control" id="comment" aria-describedby="comment" placeholder="Enter a Comment" rows="6"></textarea>
                                          </div>

                                          <div class="form-group row">
                                              <div class="col-12">
                                                  <button type="submit" class="btn btn-info waves-effect waves-light">Create</button>
                                              </div>
                                          </div>

                                          <input type="hidden" id="topic-room" value="{{room}}" />
                                        </form>
                                        {{/user}}

                                        <!-- If not logged in -->
                                        {{^user}}
                                        <p class="mb-0">You must be logged in to comment!</p>
                                        {{/user}}
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h4 class="header-title">Comments</h4>

                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    {{>footer}}
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <!-- modals -->
        {{>modal_login}}

        <!-- jQuery  -->
        <script src="{{{cdn}}}/dist/js/vendor.min.js"></script>

        <script src="{{{cdn}}}/dist/pages/home/js/home.min.js"></script>

        <!-- App js (Idk what this is for lol) -->
        <script src="{{{cdn}}}/dist/js/app.min.js"></script>

        <!-- global customs -->
        <script src="{{{cdn}}}/dist/js/global-custom.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#datatable').dataTable();
            });
        </script>

    </body>
</html>
